herbal.keras
interupt.keras
lastmodel.keras
redo.keras
web.keras
web.keras
encodel.pkl
final.csv
herbs.keras
test.pkl
\uploads\
media\
\static\
C:\Users\ramil\OneDrive\Desktop\djangoremake\WebsiteProject\media
.env
.venv/
venv/
env/
static
static/
/static/g